Package: com.nighthawk.overkillbot
Name: Overkillbot
Depends: mobilesubstrate
Version: 0.0.1-1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Nighthawk
Author: Nighthawk
Section: Tweaks
Installed-Size: 24
